<% provide(:title, 'New Comment') %>
<div class="container">
  <div class="row">
    <div class="span8 offset1">
      <h2 class="postTitle"><%= @post.title %></h2>
  <h4 class="postNameTimeStamp">By <%= link_to "me", about_path %> at 
<%= @post.created_at.localtime.strftime("%I:%M %p, %A %B %d, %Y") %></h4>
      <%= simple_format @post.content, class:"post_content" %>
      <h4 id="comment_header">comment form</h4>
      <%= form_for(@comment) do |f| %>
      <div class="controls" id = "comment_form">
	<%= f.text_area :content, placeholder: "Leave a comment..", rows:5, class:"input-xxlarge" %>
      </div>
      
      <%= f.hidden_field :post_id %>
      <div class = "form-actions">
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
