<li class="postElement">
  <h2 class="postTitle"><%= post.title %></h2>
  <h4 class="postNameTimeStamp">By <%= link_to "me", about_path %> at 
<%= post.created_at.localtime.strftime("%I:%M %p, %A %B %d, %Y") %></h4>
  <p><%= simple_format post.content %></p>

<% if post.comments.any? %>
<h3>Comments</h3>
<ol class="comments">
<%= render post.comments %>
</ol>
<% end %>
<%= link_to "leave a comment", :controller => "comments",
 :action => "new", :id => post.id %>


<% if admin_signed_in? %>
<%= link_to "delete", post, method: :delete, data: { confirm: "You sure?"},
title: post.content %>
<% end %>

</li>
