<li class="postElement">
  <h2 class="postTitle center"><%= post.title %></h2>
  <h4 class="postNameTimeStamp center">By <%= link_to "me", about_path %> at 
<%= post.created_at.strftime("%I:%M %p, %A %B %d, %Y") %></h4>
  <%= simple_format post.content, class:"post_content"%>

<% if post.comments.any? %>
<h4 id="comment_header">Comments</h4>
<ul class="unstyled comments">
<%= render post.comments %>
</ul>
<% end %>
<%= link_to "leave a comment", :controller => "comments",
 :action => "new", :id => post.id, class:"leave_a_comment" %>



<% if admin_signed_in? %>
<%= link_to "delete", post, method: :delete, data: { confirm: "You sure?"},
title: post.content %>
<%= link_to "edit", edit_post_path(post)%>
<% end %>

</li>
