<li class="postElement">
  <h3 class="postTitle center"><%= post.title %></h3>
  <h5 class="postNameTimeStamp center">By <%= link_to "Matthew Tse", about_path %> at 
    <%= post.created_at.strftime("%I:%M %p, %A %B %d, %Y") %></h5>

  <% if !post.photo.url.include?("missing.png") %>
  <div class="center post_photo">
    <%= image_tag post.photo.url %>
  </div>
  <% end %>

  <%= simple_format post.content, class:"post_content"%>

<% if post.comments.any? %>

<ul class="unstyled comments">
<%= render post.comments %>
</ul>
<% end %>
<div class="btn-group">
     <%= link_to "Leave a Comment", {controller:"comments",
	 action:"new", id:post.id}, class:"comment_button btn"%>
     
     <% if admin_signed_in? %>
     <%= link_to "Delete Post", post, method: :delete, class:"btn", data:{confirm: "Are you sure?"}%>

     <%= link_to "Edit", edit_post_path(post), :class => "btn" %>
  <% end %>
</div>
</li>
